{% load i18n threadedcommentstags %}
{% get_threaded_comment_tree for resource as tree %}
{% if tree or request.user.is_authenticated %}
<h2>{% trans "Comments for" %} {{ resource.name }}</h2>
<div class="comments">
{% for comment in tree %}
    <div style="margin-left: {{ comment.depth }}em;" class="comment">
        <h3>{% trans "Comment by" %} {{ comment.user.username }}:</h3>
        {{ comment.comment|linebreaks }}
{% if request.user.is_authenticated %}
        <a class="action say" id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_comment_url resource comment %}','{{ comment.user.username }}')">{% trans "Reply" %}</a>
{% endif %}
    </div>
{% endfor %}
</div>
{% endif %}
{% if request.user.is_authenticated %}
<div class="actions">
<a class="action say" id="newcomment" href="javascript:show_reply_form('newcomment','{% get_comment_url resource %}')">{% trans "New Comment" %}</a>
</div>
{% endif %}


