{% load compress %}
<script type="text/javascript" src="http://dev.openlayers.org/releases/OpenLayers-2.10/OpenLayers.js"></script>
<!--<script type="text/javascript" src="http://dev.openlayers.org/nightly/OpenLayers.js"></script>-->
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}openresources/js/OpenResourcesRenderer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}openresources/js/map.js"></script>
{% endcompress %}

