html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.content {
    padding: 10px;
    margin-bottom: 20px;
    width: 600px;
}

.content p {
    margin-bottom: 12px;
}

.content form {
    margin-bottom: 10px;
}

.footer {
    clear: both;
    height: 25px;
    margin: -30px 0 0 0;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.footer img {
    vertical-align: -2px;
}

.header {
    padding: 10px;
}


/* ------------------------------------------------ */

ul#messages {
    padding: 5px;
}

.navi {
    float: left;
}

.language-switcher {
    display: inline;
}

.user-actions {
    float: right;
}

/* ------------------------------------------------ */

.resource-page .tags-table {
    margin-bottom: 10px;
}

.resource-page .tags-table td {
    border: 1px solid #999999;
    padding: 2px 5px;
}

.resource-page form table td,
.resource-page form table th {
    padding: 2px 10px 2px 0px;
}

.resource-page form table textarea {
    height: 30px;
}

#messages,
.messages {
    margin-bottom: 10px;
}

.content .column {
    float: left;
    width: 280px;
    margin-right: 20px;
}

.map {
    width: 100%;
    height: 400px;
    background-color: #eeeeee;
}

.map .olControlAttribution {
    bottom: 1px;
    right: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    opacity: 0.6;
}

.map .olControlMousePosition {
    bottom: 15px;
    right: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    opacity: 0.6;
}
