
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

p, div, span {
    cursor: default;
}

a, a:active, a:visited, a:focus {
    color: #3333cc;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

html { font-size:100.01%; }

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: top; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

ul { list-style-type: none; }

.clear { clear: both; }



html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.content-wrapper {
    padding: 10px;
    margin-bottom: 20px;
}

.content {
    width: 800px;
}

.content p {
    margin-bottom: 12px;
}

.content form {
    margin-bottom: 10px;
}

.footer {
    clear: both;
    height: 25px;
    margin: -30px 0 0 0;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.footer img {
    vertical-align: -2px;
}

.header {
    padding: 10px;
}


/* ------------------------------------------------ */

ul#messages {
    padding: 5px;
}

.navi {
    float: left;
}

.language-switcher {
    display: inline;
}

.user-actions {
    float: right;
}

/* ------------------------------------------------ */

.resource-page .tags-table {
    margin-bottom: 10px;
}

.resource-page .tags-table td {
    border: 1px solid #999999;
    padding: 2px 5px;
}

.resource-page form table td,
.resource-page form table th {
    padding: 2px 10px 2px 0px;
}

.resource-page form table textarea {
    height: 30px;
}

#messages,
.messages {
    margin-bottom: 10px;
}

.content .column {
    float: left;
    width: 280px;
    margin-right: 20px;
}

.map {
    width: 100%;
    height: 400px;
    background-color: #eeeeee;
}

.view-page .map {
    display: none;
    float: right;
    width: 600px;
    margin: 0 0 5px 5px;
}

.view-page .map-loading {
    float: right;
    width: 600px;
    text-align: right;
}

.map .olControlAttribution {
    bottom: 1px;
    right: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    opacity: 0.6;
}

.map .olControlMousePosition {
    bottom: 15px;
    right: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    opacity: 0.6;
}

.queries-edit-table .first .edit-boolean {
    visibility: hidden;
}

.listbox {
    float: left;
    position: relative;
    width: 250px;
    padding: 5px;
    margin-right: 7px;
}

html .lastcol {
    margin-right: 0px;
}

.navbox {
    clear: both;
    position: relative;
    width: 790px;
    padding: 5px;
    margin: 10px 0;
}

.navbox li {
    float: left;
    width: 158px;
}

.listbox a.more,
.navbox a.more {
    margin-top: 10px;
    float: right;
}

.add-actions {
    float: right;
}

.edit-order input {
    width: 50px;
}

.listbox table.resources-list th {
    max-width: 145px;
}

.listbox table.resources-list tr {
    margin-bottom: 2px;
}



