html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.content {
    padding-top: 20px;
}

.footer {
    clear: both;
    height: 25px;
    margin: -30px 0 0 0;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.footer img {
    vertical-align: -2px;
}

.header {
    padding: 10px;
}

.content {
    padding: 10px;
}

/* ------------------------------------------------ */

ul#messages {
    padding: 5px;
}

.navi {
    float: left;
}

.language-switcher {
    display: inline;
}

.user-actions {
    float: right;
}

textarea {
    height: 25px;
}

.resource-page .tags-table {
    margin-bottom: 10px;
}

.resource-page .tags-table td {
    border: 1px solid #999999;
    padding: 2px 5px;
}

.resource-page form table td,
.resource-page form table th {
    padding: 2px 10px 2px 0px;
}

