# requirements file for PIP package installer
--find-links=http://pypi.pinaxproject.com
--find-links=http://pypi2.pinaxproject.com

# -----------------------------

Django==1.2.3
docutils==0.5
South==0.7.1

# -----------------------------

diff-match-patch==20090804
django-atomformat==0.1.1dev
Markdown
smartypants
creole==1.0.1
sorl-thumbnail==3.2.5
django-tagging==0.3.1
django-transmeta==0.5.1

# -----------------------------

-e hg+https://floledermann@bitbucket.org/floledermann/django-invitation/#egg=django-invitation
hg+http://bitbucket.org/tyrion/django-autocomplete/#egg=django-autocomplete
