{% extends "page_base.html" %}
{% load i18n %}

{% block page_content %}

{% if account %}
<h2>{% trans "Welcome to" %} Vivir Bien, {{account.username}}!</h2>

<p>
{% blocktrans with user.username as username %}Your user {{ username }} has been activated! Have fun!{% endblocktrans %}
</p>

<form method="post" action="{% url auth_login %}">
<input id="id_username" type="hidden" name="username" value="{{ account.username }}" />

<label for="id_password">{% trans "Password" %}</label>
<input type="password" name="password" id="id_password" /><br />

<button type="submit">{% trans "login" %}</button>
<input type="hidden" name="next" value="/" />
</form>

{% else %}

<h2>{% trans "Invalid activation key!" %}</h2>

<p>
{% trans "The given activation key is invalid or outdated!" %}
</p>
{% endif %}

{% endblock %}
