{% extends "page_base.html" %}
{% load i18n %}

{% block page_content %}

<p>
{% if form.errors %}
{% trans "Your username and password didn't match. Please try again." %}
{% else %}
{% blocktrans %}Some areas of Vivir Bien are currently available only to registered users. Registrations are currently <em>invitation only</em> to ensure a certain level of trust between participants. If you want to contribute, <a href="mailto:vivirbien@mediavirus.org">get in touch</a>!{% endblocktrans %}
{% endif %}
</p>


<form method="post" action="{% url django.contrib.auth.views.login %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
{% csrf_token %}
<button type="submit">{% trans "Log in" %}</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

<a href="{% url auth_password_reset %}">{% trans "Forgotten your password or username?" %}</a>
{% endblock page_content %}
