{% extends "page_base.html" %}
{% load i18n %}

{% block page_content %}

<h2>{% trans "Log in" %}</h2>
{% if form.errors %}
<p class="error">
{% trans "Your username and password didn't match. Please try again." %}
</p>
{% endif %}

<p>
{% trans "Don't have an account at Vivir Bien?" %} <a href="{% url registration_register %}">{% trans "Sign up" %}</a>!<br />
<a href="{% url auth_password_reset %}">{% trans "Forgotten your password or username?" %}</a>

</p>


<form method="post" action="{% url django.contrib.auth.views.login %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
{% csrf_token %}
<button type="submit">{% trans "Log in" %}</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock page_content %}
