{% load i18n %}
{% load navitools %}
<div class="user-actions">
<span class="username">{% if user.is_active %}{% trans "Welcome," %} {{ user.username }}
{% else %}{% trans "Not logged in" %} | <a href="/accounts/login/">{% trans "Log in" %}</a>{% endif %}</span>
{% if user.is_active %}| <a class="{% active request "^/accounts/invite/" %}" href="/accounts/invite/">{% trans "Invite a friend" %}</a>{% endif %}
{% if user.is_active %}| <a href="{% url auth_logout %}">{% trans "Log out" %}</a>{% endif %}
| <form class="language-switcher autosubmit" action="/i18n/setlang/" method="post">
{% trans "language:" %} 
<select name="language">
{% for lang in LANGUAGES %}
<option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE%} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
{% endfor %}
</select>
{% csrf_token %}
<button type="submit">Set</button>
</form>
</div>
<ul class="navi">
<li class="{% active request "^/resources/" %}"><a href="/resources/">{% trans "Resources" %}</a></li>
<li class="{% active request "^/wiki/" %}"><a href="/wiki/Vivir%20Bien/">Wiki</a></li>
<li><a href="/wiki/About_{{LANGUAGE_CODE}}/">{% trans "About" %}</a></li>
{% if user.is_staff %}<li><a href="/admin/">Admin</a></li>{% endif %}
</ul>
<div class="clear"></div>
