{% load i18n %}
{% load navitools %}
<a class="{% active request "^/resources/" %}" href="/resources/">{% trans "Resources" %}</a>
| <a class="{% active request "^/wiki/" %}" href="/wiki/Vivir%20Bien/">Wiki</a>
{% if user.is_staff %}| <a href="/admin/">Admin</a>{% endif %}
</div>
<div class="user-actions">
<span class="username">{% if user.is_active %}{% trans "Welcome," %} {{ user.username }}
{% else %}{% trans "Not logged in" %}{% endif %}</span>
{% if user.is_active %}| <a class="{% active request "^/accounts/invite/" %}" href="/accounts/invite/">{% trans "Invite a friend" %}</a>{% endif %}
{% if user.is_active %}| <a href="{% url auth_logout %}">{% trans "Log out" %}</a>{% endif %}
| <form class="language-switcher" action="/i18n/setlang/" method="post">
{% trans "language:" %} 
<select name="language">
{% for lang in LANGUAGES %}
<option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE%} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
</div>
<div class="clear"></div>