{% extends "resources/base.html" %}
{% load i18n %}

{% block title %}Vivir Bien: {% trans "Credits" %}{% endblock %}

{% block resources_content %}

<h1>{% trans "Credits" %}</h1>

<ul class="credits">
<li>Application concept: Vivir Bien plenum &amp; mailing list</li>
<li>Application development, hosting &amp; setup: <a href="http://floledermann.com/">Flo Ledermann</a></li>
<li>Icons used in the user interface <a href="http://creativecommons.org/licenses/by/3.0/">CC-by</a> <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>.</li>
<li>Map Icons <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-by-SA</a>, based on the <a href="http://code.google.com/p/google-maps-icons/">Map Icons Collection</a> by Nicolas Mollet.</li>
<!--
<li>Vivir Bien is realized using a 100% Open Source Stack:
<ul>
<li><a href="http://www.djangoproject.com/">Django</a> Web Application Framework (BSD License)</li>
<li><a href="http://httpd.apache.org/">Apache Web Server (Apache License)</a></li>
</ul>
</li>
-->
</ul>

{% endblock %}
