{% extends "resources/base.html" %}
{% load i18n fieldset %}

{% block extra_head %}
{{ block.super }}
<script src="{{MEDIA_URL}}js/urlify.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/OpenLayers-2.8/OpenLayers.js"></script>
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<style type="text/css">
.widget {
    display: none;
}
.widget .map {
    height: 340px;
}
</style>
<script type="text/javascript">
var MEDIA_URL = "{{ MEDIA_URL}}";
</script>

{{ form.media }}
{{ formset.media }}

<script type="text/javascript" src="{{MEDIA_URL}}resources/js/edit.js"></script>
{% endblock %}

{% block resources_content %}

{% if resource %}
<h1>{{ resource.name }}</h1>
{% else %}
<h1>{% trans "New resource" %}</h1>
{% endif %}

<form method="post" action="{% url resources_edit key=resource.shortname %}" autocomplete="off">
{% fieldset name as fset from form %}
{{ fset.as_p }}
{% fieldset shortname,protected as fset from form %}
<h4 class="toggle{% if not fset.errors %} off{% endif %}">advanced</h4>
<fieldset class="advanced">
{{ fset.as_p }}
</fieldset>

<h2>Tags</h2>

{% if formset %}
{{ formset.management_form }}
<table class="edit-table tags-edit-table">
{% for form in formset.forms %}
{% if forloop.first %}
<tr>
{% for field in form.visible_fields %}
        <th>{{ field.label }}</th>
{% endfor %}
</tr>
{% endif %}
<tr{% if forloop.last %} class="extra"{% endif %}>
    {% for field in form.visible_fields %}
        <td class="edit-{{field.name}}">{{field.errors}}{{ field }}
        {% if forloop.first and forloop.parentloop.last %}
        <br /><select class="popular-tags">
<option value="">{% trans "Common Tags:" %}</option>
<option value="">--------------</option>
{% for tag in popular_tags %}
<option value="{{ tag.key }}">{{ tag.key }}</option>
{#{% include "resources/includes/tag_actions.html" %}#}
{% endfor %}
</select>
        {% endif %}
        </td>
    {% endfor %}
    <td class="hidden">
    {% for field in form.hidden_fields %}
        {% if field.is_hidden %} {{ field }} {% endif %}
    {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% endif %}

<!--
<h2>Relations</h2>
-->
{% if tag_help %}
<div class="actions">
{% trans "Help:" %} 
{% for link in tag_help %}
<a href="{{link.1}}">{{link.0}}</a>
{% if not forloop.last %} | {% endif %}
{% endfor %}
</div>
{% endif %}
{% csrf_token %}
<button class="action save" type="submit">{% trans "Save" %}</button>
<button class="action reload" name="action" value="add_tag" type="submit">{% trans "Save and continue" %}</button>
<a class="action cancel" href="{% if resource %}{% url resources_resource key=resource.shortname %}{% else %}{% url resources_index %}{% endif %}">{% trans "Cancel" %}</a>

</form>

<div class="widget" id="widget-location">
<div class="map"></div>
</div>

<div class="widget" id="widget-address">
<button class="button-add-location">{% trans "Add location tag for this address" %}</button>
<div class="map"></div>
</div>

{% endblock %}
