{% extends "resources/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}Vivir Bien: {% trans "Icons" %}{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}
<h1>{% trans "Icons" %}</h1>
<a class="action" href="{% url resources_new_icon %}">{% trans "Add Icon" %}</a>

<ul class="iconlist">
{% for icon in icons %}
{% thumbnail icon.image "20x20" as thumb %}
<li><img src="{{ thumb }}" width="20" height="20"/> {{ icon.name }}</li>
{% endfor %}
</ul>

{% endblock %}
