{% extends "resources/base.html" %}
{% load i18n %}

{% block extra_head %}

{{ form.media }}

{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}

{% if icon %}
<h1>{{ icon.name }}</h1>
{% else %}
<h1>{% trans "New Icon" %}</h1>
{% endif %}

<form method="post" action="{% url resources_new_icon %}" autocomplete="off" enctype="multipart/form-data">
<table>
{{ form.as_table }}
</table>

<button type="submit">{% trans "Save" %}</button>

<a class="action" href="{% url resources_icons %}">{% trans "Cancel" %}</a>

</form>


{% endblock %}