{% extends "resources/base.html" %}
{% load i18n %}

{% block title %}Vivir Bien: {% trans "Resources" %}{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}

<h1>{% trans "Vivir Bien: Resources for non-capitalist lifestyles" %}</h1>

<p>
{% blocktrans %}Vivir Bien compiles initiatives and structures that are outside the scope of profit-based capitalist logic. Within this broad scope, Vivir Bien provides a platform for activities based on different theoretical concepts and labels.{% endblocktrans %}
<br />
<a class="more" href="/wiki/Vivir%20Bien/">{% trans "Read more in the Wiki..." %}</a>
</p>
<div class="listbox">
<h2>{% trans "Featured Views" %}</h2>
<ul class="views-list">
{% for view in featured_views %}
<li><a href="{% url resources_view name=view.shortname %}">{{ view.name }}</a></li>
{% endfor %}
</ul>
<a class="more" href="{% url resources_views %}">{% trans "all views..." %}</a>
</div>

<!--
<div class="listbox">
<h2>{% trans "Featured Resources" %}</h2>
<ul class="resources-list">
{% for resource in featured_resources %}
<li><a href="{% url resources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
<a class="more" href="{% url resources_view name="all" %}">{% trans "all resources..." %}</a>
</div>
-->

<div class="listbox">
<h2>{% trans "Newest Resources" %}</h2>
<ul class="resources-list">
{% for resource in latest_resources %}
<li><a href="{% url resources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
<a class="more" href="{% url resources_view name="all" %}">{% trans "all resources..." %}</a>
</div>

<!--
<div class="listbox">
<h2>{% trans "Programmers wanted!" %}</h2>
<p>Foo bla bla</p>
</div>
-->

{% endblock %}
