{% extends "resources/base.html" %}
{% load i18n texttools snippets %}

{% block title %}Vivir Bien: {% trans "Resources" %}{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}

{% snippets "main" as news %}

{% for snippet in news %}
<h1>{{ snippet.title|safe }}</h1>
<p>
{{ snippet.content|safe }}
{% if snippet.link %}
<br />
<a class="more" href="{{ snippet.link }}">{% trans "Read more..." %}</a>
{% endif %}
</p>
{% endfor %}

<div class="navbox">
<h2>{% trans "Featured Views" %}</h2>
<ul class="views-list">
{% for view in featured_views %}
<li><a href="{% url resources_view name=view.shortname %}">{{ view.name }}</a></li>
{% endfor %}
</ul>
<div class="clear"></div>
<a class="more" href="{% url resources_views %}">{% trans "all views..." %}</a>
<div class="clear"></div>
</div>

<div class="listbox">
<h2>{% trans "Newest Resources" %}</h2>
<ul class="resources-list">
{% for resource in latest_resources %}
<li><a href="{% url resources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
<a class="more" href="{% url resources_view name="all" %}">{% trans "all resources..." %}</a>
</div>

<div class="listbox">
<h2>{% trans "Upcoming" %}</h2>
<table class="resources-list">
{% for resource in upcoming_resources %}
<tr><th>
<a href="{% url resources_resource key=resource.shortname%}">{{ resource.name }}</a>
</th><td>{% smart_date resource.start_date resource.end_date %}</td></tr>
{% endfor %}
</table>
<!--
<a class="more" href="{% url resources_view name="all" %}">{% trans "all upcoming events..." %}</a>
-->
</div>

<div class="listbox lastcol">
<h2>{% trans "News" %}</h2>
{% snippets "news" as news %}
{% for snippet in news %}
<h3>{{ snippet.title|safe }}</h3>
<p>{{ snippet.content|safe }}
{% if snippet.link %}
<a class="more" href="{{ snippet.link }}">{% trans "Read more..." %}</a>
{% endif %}
</p>
{% endfor %}
</div>

{% endblock %}
