{% extends "resources/base.html" %}
{% load i18n %}

{% block title %}Vivir Bien: {% trans "List of resources" %}{% endblock %}

{% block extra_head %}
<!--<script src="{{ MEDIA_URL }}js/OpenLayers-2.8-debug/lib/OpenLayers.js"></script>-->
<script src="{{ MEDIA_URL }}js/OpenLayers-2.8/OpenLayers.js"></script>
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
<script src="{{ MEDIA_URL }}resources/js/map.js"></script>
{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}
{% if title %}
<h1>{{ title }}</h1>
{% endif %}
{% if key %}
<h2>{% trans "Resources with tag:" %} {{ key }}{% if value %} = {{ value }}{% endif %}</h2>
{% endif %}

<div id="map" class="map"></div>

{% if groups %}
<div class="column">
{% for group in groups %}
<h2>{{ group.title }}
{% if group.text %}
<div class="help">{{ group.text|safe }}</div>
{% endif %}
</h2>
<ul class="resourceslist">
{% for resource in group.resources %}
<li><a href="{% url resources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
{% if forloop.counter|divisibleby:3 %}
</div>
<div class="column">
{% endif %}
{% endfor %}
</div>

{% else %}
<ul class="resourceslist">
{% for resource in resources %}
<li><a href="{% url resources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
