{% extends "resources/base.html" %}
{% load i18n %}

{% block title %}Vivir Bien: {% trans "Tag:" %} {{key}} = {% if value %}{{ value }}{% else %}*{% endif %}{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}
<h1>{% trans "Tag:" %}<a href="{% url resources_tag_key key=key %}">{{key}}</a> = {% if value %}{{ value }}{% else %}*{% endif %}</h1>

{% if perms.resources.batch_rename_tags %}
<form class="action" method="post" action="{% url resources_rename_tag %}">
Rename <em>all</em> such tags to:<br />
<input type="hidden" name="key" value="{{ key }}" />
{% if value %}
<input type="hidden" name="value" value="{{ value }}" />
{% endif %}
Key: <input type="text" name="new_key" value="{{ key }}" />
{% if value %}
Value: <input type="text" name="new_value" value="{{ value }}" />
{% endif %}
<button type="submit">Submit</button>
</form>
{% endif %}

{% regroup tags by value as value_groups %}

<ul class="resourceslist">
{% for value_tags in value_groups %}
<li>
<h3><a href="{% url resources_tag key=key value=value_tags.grouper %}">{{ value_tags.grouper }} <a class="action" href="{% url resources_with_tag key=key value=value_tags.grouper %}">:</a></h3>
<div class="help">
{% for tag in value_tags.list %}
<a href="{% url resources_resource key=tag.resource.shortname %}">{{ tag.resource.name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</div>
</li>
{% endfor %}
</ul>

{% endblock %}
