{% extends "resources/base.html" %}
{% load i18n %}

{% block title %}Vivir Bien: {% trans "List of templates" %}{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}

<h1>{% trans "Templates" %}</h1>


<ul class="templates-list">
{% for template in templates %}
<li>{{ template.name }} <a href="{% url resources_edit_with_template name=template.shortname %}">{% trans "create" %}</a> <a href="{% url resources_template_edit name=template.shortname %}">{% trans "edit" %}</a></li>
{% endfor %}
</ul>
{% endblock %}
