{% extends "resources/base.html" %}
{% load i18n %}

{% block extra_head %}
<script src="{{MEDIA_URL}}js/jquery-1.3.2.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/urlify.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/OpenLayers-2.8/OpenLayers.js"></script>
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<style type="text/css">
.widget {
    display: none;
}
.widget .map {
    height: 340px;
}
</style>
<script type="text/javascript">
var MEDIA_URL = "{{ MEDIA_URL}}";
</script>

{{ form.media }}
{{ formset.media }}

<script type="text/javascript" src="{{MEDIA_URL}}resources/js/edit.js"></script>
{% endblock %}

{% block resources_content %}
{% include "resources/includes/actions.html" %}
{% if view %}
<h1>{{ view.name }}</h1>
{% else %}
<h1>{% trans "New view" %}</h1>
{% endif %}

<form method="post" action="{% url resources_edit_view name=view.shortname %}" autocomplete="off">
<table>
{{ form.as_table }}
</table>

{% if queryformset %}
<h2>{% trans "Filters" %}</h2>
<div class="help">{% trans "Resources which meet these criteria will be listed in the view." %}</div>
{{ queryformset.management_form }}
<table class="edit-table queries-edit-table">
{% for form in queryformset.forms %}
{% if forloop.first %}
<tr>
{% for field in form.visible_fields %}
        <th>{{ field.label }}</th>
{% endfor %}
</tr>
{% endif %}
<tr class="{% if forloop.first %}first{% endif %}{% if forloop.last %} extra{% endif %}">
    {% for field in form.visible_fields %}
        <td class="edit-{{field.name}}">{{field.errors}}{{ field }}
        {% if forloop.parentloop.last %}
        {% ifequal field.name "key" %}
        <br /><select class="popular-tags">
<option value="">{% trans "Common Tags:" %}</option>
<option value="">--------------</option>
{% for tag in popular_tags %}
<option value="{{ tag.key }}">{{ tag.key }}</option>
{#{% include "resources/includes/tag_actions.html" %}#}
{% endfor %}
</select>
{% endifequal %}
        {% endif %}
        </td>
    {% endfor %}
    <td class="hidden">
    {% for field in form.hidden_fields %}
        {% if field.is_hidden %} {{ field }} {% endif %}
    {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if mappingformset %}
<h2>{% trans "Mappings" %}</h2>
<div class="help">{% trans "Mappings determine the appearance of the resource." %}</div>
{{ mappingformset.management_form }}
<table class="edit-table mappings-edit-table">
{% for form in mappingformset.forms %}
{% if forloop.first %}
<tr>
{% for field in form.visible_fields %}
        <th>{{ field.label }}</th>
{% endfor %}
</tr>
{% endif %}
<tr class="{% if forloop.first %}first{% endif %}{% if forloop.last %} extra{% endif %}">
    {% for field in form.visible_fields %}
        <td class="edit-{{field.name}}">{{field.errors}}{{ field }}
        {% if forloop.parentloop.last %}
        {% ifequal field.name "key" %}
        <br /><select class="popular-tags">
<option value="">{% trans "Common Tags:" %}</option>
<option value="">--------------</option>
{% for tag in popular_tags %}
<option value="{{ tag.key }}">{{ tag.key }}</option>
{#{% include "resources/includes/tag_actions.html" %}#}
{% endfor %}
</select>
{% endifequal %}
        {% endif %}
        </td>
    {% endfor %}
    <td class="hidden">
    {% for field in form.hidden_fields %}
        {% if field.is_hidden %} {{ field }} {% endif %}
    {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if tag_help %}
<div class="actions">
{% trans "Help:" %}
<a href="{% url resources_icons %}">{% trans "Icons" %}</a>
{% for link in tag_help %}
| <a href="{{link.1}}">{{link.0}}</a>
{% endfor %}
</div>
{% endif %}
<button type="submit">{% trans "Save" %}</button>
<button name="action" value="add_row" type="submit">{% trans "Save and continue" %}</button>

{% if view %}
<a class="action" href="{% url resources_view name=view.shortname %}">{% trans "Cancel" %}</a>
{% else %}
<a class="action" href="{% url resources_index %}">{% trans "Cancel" %}</a>
{% endif %}

</form>


{% endblock %}