{% extends "openresources/base_index.html" %}
{% load i18n texttools snippets %}

{% block top_content %}
{% snippets "main" as news %}

{% for snippet in news %}
<h1>{{ snippet.title|safe }}</h1>
<p>
{{ snippet.content|safe }}
{% if snippet.link %}
<br />
<a class="more" href="{{ snippet.link }}">{% trans "Read more..." %}</a>
{% endif %}
</p>
{% endfor %}
{% endblock %}

{% block middle_content %}
<div class="index-map-wrapper">
<iframe width="850" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://vivirbien.mediavirus.org/resources/view/all/embed/">
</iframe>
</div>
{% endblock %}

{% block lists %}
{{ block.super }}
<div class="listbox lastcol">
<h2>{% trans "News" %}</h2>
{% snippets "news" as news %}
{% for snippet in news %}
<h3>{{ snippet.title|safe }}</h3>
<p>{{ snippet.content|safe }}
{% if snippet.link %}
<a class="more" href="{{ snippet.link }}">{% trans "Read more..." %}</a>
{% endif %}
</p>
{% endfor %}
</div>
{% endblock %}
