{% extends "page_base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{{MEDIA_URL}}css/wikiapp.css">
{% endblock %}

{% block body_class %}wiki-page{% endblock %}

{% block page_content %}
{# {% include "wiki/searchbox.html" %} #}

<div class="actions">
  {% block footer %}{% endblock %}
  <a href="{% url wiki_list %}">{% trans "List all articles" %}</a> |
  <a href="{% url wiki_history %}">{% trans "Recent Changes" %}</a>
</div>

{% include "wiki/messages.html" %}

<div class="wikicontent">
{% block content %}
{% endblock %}
</div>

{% endblock %}

