{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{{MEDIA_URL}}css/base.css">

{% block extra_head %}{% endblock %}

{% endblock %}

{% block title %}{% trans "Resources for a solidarity economy" %}{% endblock %}

{% block body %}

<div class="main-wrapper">
<div class="header-wrapper">
<!--<div class="credits">Ilustration by <a href="http://www.flickr.com/photos/erikberndt/">Erik Berndt</a></div>-->
<div class="header">
<h1><a href="/">Vivir Bien</a><small> &mdash; {% trans "Resources for a solidarity economy" %}</small></h1>
{% include "includes/navi.html" %}
</div>
</div>

<div class="content-wrapper">
<div class="content">
{% block page_content %}
{% endblock %}
</div>
</div>
</div>

<div class="footer">
Vivir bien &mdash; {% trans "Resources for a solidarity economy" %} &mdash;
{% trans "Data" %} <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a> <small>[<a href="/wiki/License/">{% trans "Why?" %}</a>]</small> &mdash; Made with <a href="https://bitbucket.org/floledermann/openresources/">OpenResources</a> &amp; <a href="http://djangoproject.com/">Django</a> &mdash; <a href="{% url openresources_credits %}">{% trans "Credits" %}</a>
</div>


{% endblock %}
