{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{{MEDIA_URL}}css/base.css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/layout.css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css">

{% block extra_head %}{% endblock %}

{% endblock %}

{% block body %}

<div class="main-wrapper">
<div class="header">
<div class="navi">
{% include "includes/navi.html" %}
</div>

<div class="content">
{% block page_content %}
{% endblock %}
</div>
</div>

<div class="footer">
Vivir bien &mdash; {% trans "Resources for non-capitalist lifestyles" %} &mdash;
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
</div>


{% endblock %}